.play__icons {
	width: 80%;
	max-width: 400px;
	height: 500px;
	margin: 5rem auto 0 auto;
	position: relative;
	padding: 3rem 0;
	display: grid;
	grid-template-columns: 1fr;

	.original-play-icons__background--triangle {
		position: absolute;
		width: 75%;
		inset: 50% auto auto 50%;
		z-index: -10;
		transform: translate(-50%, -50%);
	}

	.play__rock {
		grid-column: span 2;
		margin: 5rem auto 0 auto;
	}

}