@use '../helpers//variables';
@use '../helpers//functions';

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: variables.$Primary-Font;
	font-weight: functions.font-weight('Regular');
}

body {
	background: radial-gradient(variables.$Radial-Gradient-Start, variables.$Radial-Gradient-End);
}

.main-container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

.show-rules-modal-btn {
	padding: .6em 1.8em;
	display: block;
	margin: 0 auto 2rem auto;
	background-color: transparent;
	color: white;
	border: 2px solid;
	border-radius: 7px;
	text-align: center;
	font-size: 1rem;
	font-weight: functions.font-weight('Medium');
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
}